/*
Colors used:
Primary Color (Blue): #160A47;
Secondary Color (purple): #60047A;
light orange : #f2671f
second orange: #c91b26
magenta :9c0F5F
*/

#my_work{
  background-color: #ffffff ;
  color: #9c0f5f;
}
body {
  font-family: "Nunito", sans-serif;
  color: #160a47;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.9em;
  font-weight: 800;
}
h2 {
  font-size: 1.8em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 600;
}
a {
  color: blue;
  text-decoration: none; 
}
a:hover,
a:focus {
  color: #f2671f;
  text-decoration: underline;
}
a:active {
  color: #f2671f;
}
.button {
  display: inline-block; 
  background-color: #60047a;
  color: #ffffff; 
  font-weight: 800;
  padding: 10px;
  border-radius: 3px;
  border-top: 2px solid #9c0f5f; 
  transition: 0.2s opacity;
}
.button:active,
.button:hover {
  opacity: 0.85; 
  color: #ffffff;
  text-decoration-line: none;
}

.button.contact{
  background-color: white;
  color: #60047a;
  border: 2px solid #60047a;
}
.button.contact:hover {
  background-color: #c91b26;
  color: #ffffff;
}

#header_logo{
  width: max-content ;
}
#contact{
  background-color: #ffffff;
  color:#c91b26;
}
#behance{width: auto;}
#contact p{

  color:#160a47;
}
#behance{width: auto;}


body{
  background-color: #160a47;
  color: #ffffff;
}
nav a{
  color: #ffffff;
}
#hero h1{
  max-width: 980px;
}
#meet_angus{
  background-color: #ffffff;
  color: #9c0f5f;
}
#skills_tools{
  background-color: #160A47;
  color: #ffffff;
}