/*
Colors used:
Primary Color (Blue): #160A47;
Secondary Color (purple): #60047A;
light orange : #f2671f
second orange: #c91b26
magenta :9c0F5F
*/
* {
  box-sizing: border-box;
}

#meet_angus p,
h2 {
  padding: 10px;
}
#my_work {
  background-color: #ffffff;
  color: #160a47;
}
body {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.9em;
  font-weight: 800;
  color: #ffffff;
}

.about {color: #160a47;}
h2 {
  font-size: 1.8em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 600;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #160a47;
  font-weight: 300;
  font-size: 19px;
}
a:active {
  color: #f2671f;
}
.button {
  display: inline-block;
  background-color: #60047a;
  color: #ffffff;
  font-weight: 800;
  padding: 10px;
  border-radius: 3px;
  border-top: 2px solid #9c0f5f;
  transition: 0.2s opacity;
}
.button:active,
.button:hover {
  opacity: 0.85;
  color: #ffffff;
  text-decoration-line: none;
}

.button.contact {
  background-color: white;
  color: #60047a;
  border: 2px solid #60047a;
}
.button.contact:hover {
  background-color: #c91b26;
  color: #ffffff;
}

.logo {
  width: 250px;
}
#contact {
  background-color: #ffffff;
  color: #c91b26;
}
#behance {
  width: 25px;
}
#contact p {
  color: #160a47;
}

#hero {
  background-color: #9c0f5f;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center;
}

header {
  background-color: #9c0f5f;
  padding: 10px 0;
  border-bottom: 3px dashed thick #160a47;
  text-align: center;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}
nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 900;
  color: #ffffff;
}
nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 800;
  color: #d7cff9;
  opacity: 80%;
}
nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #f2671f;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}
#work_h2 {
  padding-top: 15px;
}

#linked_in_icon {
  width: 25px;
}
